@import 'variables';

@media screen and (max-width: 800px){
  h2.post {
    font-size: 40px;
  }
  p.post {
    font-size: 30px;
  }
  button.post {
    font-size: 25px;
    padding: 10px;
  }
  p {
    font-size: 21px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 23px;
  }
  a {
    font-size: 21px;
  }
}
